@import "tailwindcss";

@theme {
  --color-primary: #bc6c25;
  --color-secondary: #dda15e;
}

html {
  font-size: calc(16 / 768 * 100vw);
  background-color: #000;

  @media screen and (width > 48rem) {
    font-size: calc(16 / 1120 * 100vw);
  }

  @media screen and (width > 70rem) {
    font-size: calc(16 / 1440 * 100vw);
  }

  @media screen and (width > 90rem) {
    font-size: calc(16 / 2000 * 100vw);
  }
}
